body {
  padding: 2rem;

}

.notes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 1rem;
}

.notes__add button {
  margin-bottom: 2rem;
}

.notes__btns {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}